<div class="form-group">
  <mat-form-field>
    <mat-label>Permission Dropdown multiple</mat-label>
    <mat-select [(ngModel)]="selection">
      <mat-option *ngFor="let permission of roles"
                  [value]="permission">{{permission.type}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field>
    <mat-label>Descrrption Dropdown multiple</mat-label>
    <mat-select [(ngModel)]="selection">
      <mat-option *ngFor="let permission of roles"
                  [value]="permission">{{permission.description}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selection">
    <mat-button-toggle value="bold" (click)="inserted(selection.id, roles)">Add</mat-button-toggle>
  </mat-button-toggle-group>
</div>
