<form #f='ngForm'>


  <div mat-dialog-content>


    <mat-card-title>Insert User</mat-card-title>
    <mat-divider></mat-divider>
    <br>

    <div class="format1">
      <mat-form-field class="form-group">

        <input #firstName="ngModel" [(ngModel)]="user.firstName"
               class="form-control"
               id="firstName"
               matInput
               name="firstName"
               ngModel
               placeholder="First Name"
               required
               type="text">
        <mat-error *ngIf="firstName.touched && firstName.invalid"
                   class="alert alert-danger">
          <mat-error *ngIf="firstName.errors.required">The field is required</mat-error>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="form-group">
        <input #lastName="ngModel" [(ngModel)]="user.lastName"
               class="form-control"
               id="lastName"
               matInput
               name="lastName"
               ngModel
               placeholder="Last Name"
               required
               type="text">

        <mat-error *ngIf="lastName.touched && lastName.invalid"
                   class="alert alert-danger">
          <mat-error *ngIf="lastName.errors.required">The field is required</mat-error>

        </mat-error>
      </mat-form-field>
    </div>


    <mat-form-field class="form-group1">
      <input #mobileNumber="ngModel" [(ngModel)]="user.mobileNumber"
             class="form-control"
             id="mobileNumber"
             matInput
             name="mobileNumber"
             ngModel
             pattern="[+]4[0,9]{1}[0-9]{9}"
             placeholder="Mobile Number"
             required
             type="text">

      <mat-error *ngIf="mobileNumber.touched && mobileNumber.invalid"
                 class="alert alert-danger">
        <mat-error *ngIf="mobileNumber.errors.required">The field is required</mat-error>
        <mat-error *ngIf="mobileNumber.errors.pattern">Number is invalid</mat-error>

      </mat-error>
    </mat-form-field>
    <br>


    <mat-form-field class="form-group1">
      <input #email="ngModel" [(ngModel)]="user.email"
             class="form-control"
             id="email"
             matInput
             name="email"
             ngModel
             pattern="^[a-z0-9._%+-]+@msggroup.com"
             placeholder="Email"
             required

             type="text">

      <mat-error *ngIf="email.touched && email.invalid "
                 class="alert alert-danger">
        <mat-error *ngIf="email.errors.required">The field is required</mat-error>
        <mat-error *ngIf="email.errors.pattern">Requires a msg group email !</mat-error>

      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field class="col-lg-12">
      <mat-label>Rol</mat-label>
      <mat-select [(ngModel)]="user.roles"
                  multiple
                  name="roles" ngModel>
        <mat-option *ngFor="let rol of roles" [value]="rol">{{rol}}</mat-option>
      </mat-select>


    </mat-form-field>


    <mat-divider></mat-divider>
    <button (click)="insert()"
            [disabled]="f.invalid"
            mat-raised-button>Submit
    </button>
    <!--    </mat-card-content>-->


    <!--  <p>-->
    <!--    {{f.value | json}}-->
    <!--  </p>-->

  </div>

</form>

