<form #f = 'ngForm' >

  <mat-card class="example-card">
<!--  <div mat-dialog-content>-->


    <mat-card-title>Insert User</mat-card-title>
    <mat-divider></mat-divider> <br>

     <div class="format1">
      <mat-form-field class ="form-group">

        <input matInput placeholder="First Name"
               class = "form-control"
               [(ngModel)] = "user.firstName"
               type ="text"
               id = "firstName"
               name = "firstName"
               #firstName ="ngModel"
               ngModel
               required>
        <mat-error class ="alert alert-danger"
             *ngIf="firstName.touched && firstName.invalid">
          <mat-error *ngIf="firstName.errors.required">The field is required</mat-error>
        </mat-error>
      </mat-form-field>



      <mat-form-field class ="form-group">
        <input matInput placeholder="Last Name"
               class = "form-control"
               type ="text"
               id = "lastName"
               name = "lastName"
               ngModel
               [(ngModel)] = "user.lastName"
               required
               #lastName ="ngModel">

        <mat-error class ="alert alert-danger"
             *ngIf="lastName.touched && lastName.invalid">
          <mat-error *ngIf="lastName.errors.required">The field is required</mat-error>

        </mat-error>
      </mat-form-field>
    </div>


      <mat-form-field class ="form-group1">
        <input matInput placeholder="Mobile Number"
               class = "form-control"
               type ="text"
               id = "mobileNumber"
               name = "mobileNumber"
               ngModel
               [(ngModel)] = "user.mobileNumber"
               pattern="[+]4[0,9]{1}[0-9]{9}"
               required
               #mobileNumber ="ngModel">

        <mat-error class ="alert alert-danger"
             *ngIf="mobileNumber.touched && mobileNumber.invalid">
          <mat-error *ngIf="mobileNumber.errors.required">The field is required</mat-error>
          <mat-error *ngIf="mobileNumber.errors.pattern">Number is invalid</mat-error>

        </mat-error>
      </mat-form-field> <br>



      <mat-form-field class ="form-group1">
        <input  matInput placeholder="Email"
               class = "form-control"
               type ="text"
               id = "email"
               name = "email"
               ngModel
               [(ngModel)] = "user.email"
               pattern="^[a-z0-9._%+-]+@msggroup.com"
               required

               #email ="ngModel">

        <mat-error class ="alert alert-danger"
             *ngIf="email.touched && email.invalid ">
          <mat-error *ngIf="email.errors.required">The field is required</mat-error>
          <mat-error *ngIf="email.errors.pattern">Requires a msg group email !</mat-error>

        </mat-error>
      </mat-form-field>

    <br>

      <mat-form-field  class="col-lg-12">
        <mat-label>Rol</mat-label>
        <mat-select [(ngModel)] = "user.roles"
                    name="roles"
                    ngModel multiple>
          <mat-option *ngFor="let rol of roles" [value]="rol">{{rol}}</mat-option>
        </mat-select>


      </mat-form-field>
  </mat-card>

    <mat-divider></mat-divider>

    <button mat-raised-button
            (click)="insert()"
            [disabled]="f.invalid">Submit</button>
<!--    </mat-card-content>-->








<!--  <p>-->
<!--    {{f.value | json}}-->
<!--  </p>-->

<!--  </div>-->

</form>

