
.mat-form-field {
  padding-left: 3%;
  font-palette: light;
  width: 40%;
  margin-right: 10%;

}

.mat-raised-button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%

}

.mat-card-title {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;

  ;
}


.form-control:focus {
  border-color: #E1A6EC;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(225, 166, 236, 0.6);
}

#search-box {
  border: 0;
}

.mat-error {
  background-color: white;
  /*border: white;*/
}

.form-group1 {
  width: 55%;
  margin-top: 5%;
}


.col-lg-12 {
  font-family: "Century Gothic";
  width: 60%;
}

.mat-option {
  font-family: "Century Gothic";
}
