<form #f = 'ngForm' >

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Insert Bug</mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>
  <mat-card-content>
    <br>
    <div class ="form-group">
      <label > Title</label>
      <input class = "form-control"
             [(ngModel)] = "bug.title"
             type ="text"
             id = "title"
             name = "title"
             #title ="ngModel"
             ngModel
             required
      >

      <div class ="alert alert-danger"
           *ngIf="title.touched && title.invalid">
        <div *ngIf="title.errors.required">The field is required</div>

      </div>
    </div>

    <div class ="form-group">
      <label > Description</label>
      <input class = "form-control"
             type ="text"
             id = "description"
             name = "description"
             ngModel
             [(ngModel)] = "bug.description"
             required
             #description ="ngModel">

      <div class ="alert alert-danger"
           *ngIf="description.touched && description.invalid">
        <div *ngIf="description.errors.required">The field is required</div>

      </div>
    </div>

    <div class ="form-group">
      <label > Version</label>
      <input class = "form-control"
             type ="text"
             id = "version"
             name = "version"
             ngModel
             [(ngModel)] = "bug.version"
             required

             #version ="ngModel">

      <div class ="alert alert-danger"
           *ngIf="version.touched && version.invalid">
        <div *ngIf="version.errors.required">The field is required</div>
        <div *ngIf="version.errors.pattern">The pattern is invalid</div>

      </div>
    </div>

    <mat-form-field>
      <input matInput [matDatepicker]="picker"
                       [(ngModel)] = "bug.targetDate"
                      name = "date"
                       ngModel
                      placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <div class ="form-group">
      <label > severity</label>
      <input class = "form-control"
             type ="text"
             id = "severity"
             name = "severity"
             ngModel
             [(ngModel)] = "bug.severity"
             required

             #severity ="ngModel">

      <div class ="alert alert-danger"
           *ngIf="severity.touched && severity.invalid">
        <div *ngIf="severity.errors.required">The field is required</div>
        <div *ngIf="severity.errors.pattern">The pattern is invalid</div>

      </div>
    </div>




  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
            (click)="insert()"
            [disabled]="f.invalid">


      Submit</button>

  </mat-card-actions>
</mat-card>



<p>
  {{f.value | json}}
</p>



</form>

