<form #f='ngForm'>

  <mat-card class="example-card">

    <mat-card-title>Insert Bug</mat-card-title>


    <mat-divider></mat-divider>
    <!--  <mat-card-content>-->
    <br>

    <mat-form-field class="form-group">
      <input #title="ngModel" [(ngModel)]="bug.title"
             class="form-control"
             id="title"
             matInput
             name="title"
             ngModel
             placeholder="Title"
             required
             type="text">
      <mat-error *ngIf="title.touched && title.invalid">
        <mat-error *ngIf="title.errors.required">The field is required</mat-error>
      </mat-error>


    </mat-form-field>


    <mat-form-field class="form-group">
      <input #description="ngModel" [(ngModel)]="bug.description"
             class="form-control"
             id="description"
             matInput
             name="description"
             ngModel
             placeholder="Description"
             required
             type="text">
      <mat-error
        *ngIf="description.touched && description.invalid">
        <mat-error *ngIf="description.errors.required">The field is required</mat-error>

      </mat-error>
    </mat-form-field>

    <div class="form-group">
      <label> Version</label>
      <input #version="ngModel"
             [(ngModel)]="bug.version"
             class="form-control"
             id="version"
             name="version"
             ngModel
             pattern="^[a-zA-Z]*[0-9].[0-9]"
             required
             type="text">
      <div *ngIf="version.touched && version.invalid"
           class="alert alert-danger">
        <div *ngIf="version.errors.required">The field is required</div>
        <div *ngIf="version.errors.pattern">The pattern is invalid</div>

      </div>
    </div>

    <mat-form-field>
      <input [(ngModel)]="bug.targetDate" [matDatepicker]="picker"
             matInput
             name="date"
             ngModel
             placeholder="Choose a date"
             required>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="form-group">
      <label> Fixed Version</label>
      <input [(ngModel)]="bug.fixedVersion"
             class="form-control"
             id="fixedVersion"
             name="fixedVersion"
             ngModel
             type="text">

    </div>

    <mat-form-field>
      <mat-label>Severity</mat-label>

      <select [(ngModel)]="bug.severity"
              matNativeControl
              name="severity"
              ngModel required>
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
        <option value="Critical">Critical</option>
      </select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Assigned to:</mat-label>
      <mat-select [(ngModel)]="bug.ASSIGNED_ID"
                  name="roles"
                  ngModel>
        <mat-option *ngFor="let user of usersList" [value]="user.id">{{user.userName}}</mat-option>
      </mat-select>


    </mat-form-field>


    <!--  </mat-card-content>-->
    <mat-card-actions>


    </mat-card-actions>
  </mat-card>

  <button (click)="insert()"
          [disabled]="f.invalid"
          mat-raised-button>


    Submit
  </button>


  <!--<p>-->
  <!--  {{f.value | json}}-->
  <!--</p>-->

</form>

