<div class="form-group">
  <mat-form-field>
    <mat-label>Roles Dropdown multiple</mat-label>
    <mat-select [(ngModel)]="selection">
      <mat-option *ngFor="let rol of roles" [value]="rol">{{rol.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="form-group">
  <label mat-form-filed for="permissions">Permission Dropdown multiple</label>
  <select matNativeControl class="form-control"
          id="permissions"
          name="permission"
          multiple
          ngModel>
    <option *ngFor="let permission of selected.permissionList"
            [value]="permission.type">{{permission.description}}</option>
  </select>
</div>

