table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-raised-button {
  width: 130px;
}
.test{
  display: inline-block;
  margin-left: 25%;
}
