<div class="form-group">
  <mat-form-field>
    <mat-label>Roles Dropdown multiple</mat-label>
    <mat-select [(ngModel)]="selectedRole">

      <mat-option *ngFor="let rol of roles"
                  [value]="rol">{{rol.type}}
        <!--      <td>{{rol.id}}</td>  -->
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field>
    <mat-label>Permission Dropdown multiple</mat-label>
    <mat-select [(ngModel)]="selectedPermission">
      <mat-option *ngFor="let permission of permissions"
                  [value]="permission">{{permission.type}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field>
    <mat-label>Descrrption Dropdown multiple</mat-label>
    <mat-select [(ngModel)]="selectedPermission">
      <mat-option *ngFor="let permission of permissions"
                  [value]="permission">{{permission.description}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-button-toggle-group ng-click name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="permission.id" (click)="inserted()">Add</mat-button-toggle>
  </mat-button-toggle-group>
</div>
