.test{

  width:100%;
}

.userManagement{

  margin-left: 100px;
}

.permissionManagement{

  margin-left: 100px;
}

.bugManagement{

  margin-left: 100px;
}
.menu{

  margin-left: 90px;
}
