<mat-toolbar class="test">
  <!--  <span>{{userName}}</span>-->
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <a class="userManagement" routerLink="users" routerLinkActive="active current"
     i18n="UserManagement|The button for UserManagement">User Management</a>
  <a class="permissionManagement" routerLink="permissions" routerLinkActive="active current"
     i18n="PermissionManagement|The button for PermissionManagement">Permission Management</a>
  <a class="bugManagement" routerLink="bugs" routerLinkActive="active current"
     i18n="BugManagement|The button for BugManagement">Bug management</a>
  <button [matMenuTriggerFor]="menu" class="menu" mat-button i18n="Menu|The button for Menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="notifications" routerLinkActive="active current"
            i18n="VieNotification|The button for ViewNotification">View Notifications
    </button>
    <button (click)="logout()" mat-menu-item i18n="@@templatesTitle">Logout</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
