<h2 mat-dialog-title>User update</h2>

<mat-dialog-content [formGroup]="form">

  <div>
    <mat-form-field>
      <input matInput
             placeholder="New first name"
             formControlName="newFirstName">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput
             placeholder="New last name"
             formControlName="newLastName">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput
             placeholder="New email"
             formControlName="newEmail">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput
             placeholder="New mobile number"
             formControlName="newMobileNumber">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput
             placeholder="New status"
             formControlName="newStatus">
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Cancel</button>
  <button class="mat-raised-button mat-primary" (click)="update()">Update</button>
</mat-dialog-actions>
