<h2 mat-dialog-title>User update</h2>

<mat-dialog-content [formGroup]="form">

  <div>
    <mat-form-field>
      <label>
        <input formControlName="newFirstName"
               matInput
               placeholder="New first name"
               required>
      </label>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <label>
        <input formControlName="newLastName"
               matInput
               placeholder="New last name"
               required>
      </label>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <label>
        <input formControlName="newEmail"
               matInput
               placeholder="New email"
               required>
      </label>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <label>
        <input formControlName="newMobileNumber"
               matInput
               placeholder="New mobile number"
               required>
      </label>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <label>
        <input formControlName="newStatus"
               matInput
               placeholder="New status"
               required>
      </label>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-select formControlName="newRoles" multiple placeholder="Roles" required>
        <mat-option *ngFor="let role of roles" [value]="role" (click)="handleRoleSelected(role)">{{role}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="close()" class="mat-raised-button">Cancel</button>
  <button (click)="update()" class="mat-raised-button mat-primary" [disabled]="form.invalid">Update</button>
</mat-dialog-actions>
