<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form #myform="ngForm" (ngSubmit)="submitForm(myform.value)">
        <div class="form-group">
          <label>Enter permission type:</label>
          <input type="text" name="description" ngModel class="form-control" autocomplete="off"/>
        </div>
        <div class="form-group">
          <label>Enter permission description:</label>
          <input type="text" name="type" ngModel class="form-control" autocomplete="off"/>
        </div>
        <br/>
        <input type="submit" class="btn btn-primary btn-block" value="submit" />
      </form>
    </div >
  </div>
</div>

<router-outlet></router-outlet>
