<form #f="ngForm">
  <div #user="ngModelGroup" class="example-form" ngModelGroup="user">

    <div>
      <mat-form-field class="example-full-width">
        <label>UserName</label>
        <input #userName="ngModel" [(ngModel)]="loginInput.username"
               class="form-control"
               id="userName"
               matInput
               name="userName"
               ngModel
               required
               type="text">
      </mat-form-field>
      <div *ngIf="userName.touched && userName.invalid" class="alert alert-danger">
        <div *ngIf="userName.errors?.required">The field is required</div>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <label>Password</label>
        <input #password="ngModel" [(ngModel)]="loginInput.password"
               class="form-control"
               id="password"
               matInput
               name="password"
               ngModel
               required
               type="password">
      </mat-form-field>
      <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
        <div *ngIf="password.errors?.required">The field is required</div>
      </div>
    </div>
    <button
      (click)="sendCredentials()" class="btn-primary">Login
    </button>
  </div>


</form>
