<!--suppress HtmlFormInputWithoutLabel -->
<form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
  <div>
    <mat-form-field>
      <input formControlName="password" matInput type="password" placeholder="New password" required>
      <mat-error *ngIf="changePasswordForm.hasError('required', 'password')">
        Please enter your new password
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input [errorStateMatcher]="matcher" formControlName="confirmPassword" matInput type="password" placeholder="Confirm new password">
      <mat-error *ngIf="changePasswordForm.hasError('notSame')">
        The passwords do not match
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <button [disabled]="changePasswordForm.invalid" mat-button type="submit">Change</button>
  </div>
</form>
